{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Add Country</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" name="addcountry" value="Add Country">
        </form>

        {% if new_data %}
            {{ new_data }}
            Name: {{ new_data.name }} <br>
            Code: {{ new_data.code }} <br>
            Continent: {{ new_data.continent }} <br>
        {% endif %}
    </section>
</main>
{% endblock %}