{% extends 'base.html' %}

{% load static %}

{% block title %} Province | Index {% endblock %}

{% block custom_css %} <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<main>
    <section>
        <h5>This is Province Page.</h5>
    </section>
    <section>
        <div class="card">
            <div class="card-header">
                <h5>{{ province_name }}</h5>
            </div>
            <div class="card-body">
                <p>{{ province_code }}</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block custom_js %}
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}